<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper>
    <sql id="base">
        `cid`, `userID`, `name`, `createdAt`, `updatedAt`, `deletedAt`
    </sql>
    <!-- insert -->
    <insert id="Save" useGeneratedKeys="true">
        INSERT INTO `albums`(<include refid="base"/>) VALUES( null, #{obj.UserID}, #{obj.Name},
        #{obj.CreatedAt}, #{obj.UpdatedAt}, #{obj.DeletedAt})
    </insert>
    <!-- selectOne -->
    <select id="SelectByID" lang="go" resultMap="M" resultType="T">
        SELECT
        <include refid="base"/>
        FROM `albums`
        WHERE `cid`=#{id}
    </select>

    <!-- update -->
    <update id="UpdateByID" useGeneratedKeys="true">
        UPDATE `albums` SET `cid`=#{obj.cid}
        <if test="obj.Cid.Valid">
            ,`cid` = #{obj.Cid}
        </if>
        <if test="obj.UserID.Valid">,`userID` = #{obj.UserID}</if>
        <if test="obj.Name.Valid">,`name` = #{obj.Name}</if>
        <if test="obj.URL.Valid">,`URL` = #{obj.URL}</if>
        <if test="obj.CreatedAt.Valid">,`createdAt` = #{obj.CreatedAt}</if>
        <if test="obj.UpdatedAt.Valid">,`updatedAt` = #{obj.UpdatedAt}</if>
        <if test="obj.DeletedAt.Valid">,`deletedAt` = #{obj.DeletedAt}</if>
        WHERE `cid`=#{obj.cid}
    </update>

    <!--delete one-->
    <delete id="DeleteByID">
        delete FROM `albums` WHERE `cid`=#{cid}
    </delete>

    <!-- delete list -->
    <delete id="DeleteByIDs">
        delete FROM `albums` WHERE `cid` in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach>
    </delete>
    <select id="one">
        <if test="obj.name=100">
            ok
        </if>
        select
    </select>
</mapper>
